<link rel="stylesheet" href="../report_tool_components/css/style.css">
<px-card id="query-generator-ui">
	<div class="row padded formBack"  >
		<form name="getQueryForm" method="post" onsubmit="return generateQuery()">
		<div class="span12">
			<h5><label class="label label-default" id="queryLabels">Schema:</label></h5>
			<select id="data-base-list" ng-change="selectDb()" ng-model="dbName" required></option></select>
		</div>
		<div class="span6">
			<h5><label class="label label-default" id="queryLabels">Tables:</label></h5>
			<select name="ripos" id="ripos" ng-change="selectTable()" ng-model="dataBase" required multiple></select>
		</div>
		<div class="span6">
			<h5><label class="label label-default" id="queryLabels">Columns:</label></h5>
			<select name="showMe" id="show-me" required multiple></select>
		</div>
		<div class="span1">
			<h5><label class="label label-default" id="queryLabels">Where</label></h5>
		</div>
		<div class="span11 where" id="where0">
			<div class="span4">
				<select name="conditionAttr" id="condition-attr" ng-change="validateInput()" ng-model="cond" required></select>
			</div>
			<div class="span3">
				<select name="operation" id="operation" required>
  					<option value="=">=</option>
  					<option value=">">></option>
  					<option value="<"><</option>
  					<option value="!=">!=</option>
  					<option value="<="><=</option>
  					<option value=">=">>=</option>
  					<option value="LIKE">LIKE</option>
				</select>
			</div>
			<div class="span4">
				<input type="text" id="condition-value" required/>
			</div>
			<div class="span1">
			<button type="button" id="add-new-where" ng-click="newWhere()">+</button>
			</div>
		</div>
		<div class="span12">
			<input type="button" id="queryButton" value="Create Query" ng-click="generateQuery()" />
		</div>
		</form>
		<textarea id="OutputQuery" placeholder="Query ..." style="width:100%" ng-model="QueryObject" ng-bind="QueryObject"></textarea><br>
		<button ng-click="executeQuery()">Execute Query</button>
	</div>
</px-card>
