/*Report Container CSS*/

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: inherit;
    background-color: inherit;
}

.navbar {
    margin-bottom:0px;}

px-card {
    /*background-color: #8B8D8F;*/
    padding-left: 0;
    padding-right: 0;
    margin-bottom:inherit;
    padding-bottom: 0px;
    height: inherit;
}
div#loadingDiv {
    z-index: 10;
}

.px-login-0 .login.px-login {
    background-color: initial;
}


.u-pt--:not([style-scope]):not(.style-scope) {
    padding-top: 0rem !important;
}
.u-pl--:not([style-scope]):not(.style-scope) {
    padding-left: 0rem !important;
}
.u-pl--:not([style-scope]):not(.style-scope) {
    padding-right: 0rem !important;
}
.u-pl--:not([style-scope]):not(.style-scope) {
    padding-bottom: 0rem !important;
}
* {
    box-sizing: border-box;
}



/*For Breadcrumps*/
.my-breadcrumb { 
	list-style: none;
        padding: inherit;
	overflow: hidden;
        background-color: #2A3E77;
	font: 18px Helvetica, Arial, Sans-Serif;
}
.my-breadcrumb li {
	float: left; 
}
.my-breadcrumb li a {
	color: white;
	text-decoration: none; 
	padding: 10px 0 10px 65px;
	background: brown;                   /* fallback color */
	background: hsla(34,85%,35%,1); 
	position: relative; 
	display: block;
	float: left;
}


.my-breadcrumb li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid #293B6E;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}

.my-breadcrumb li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;       
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
}

.my-breadcrumb li:first-child a {
	padding-left: 10px;
        background-color: #293B6E;
}
.my-breadcrumb li:last-child a       { background:        #475B95 none repeat scroll 0% 0%; }
.my-breadcrumb li:last-child a:after { border-left-color: #475B95; }


.my-breadcrumb li a:hover { background: hsla(219, 100%, 35%, 1); }
.my-breadcrumb li a:hover:after { border-left-color: hsla(219, 100%, 35%, 1) !important; }


#my-breadcrumb-anchor {
    color: white !important;
}
#breadcrumb-list{ margin-left: auto;
margin-bottom: 0.5px;
background-color: #475B95 none repeat scroll 0% 0%;
}
#title-bar{}

/*For Page Change animation*/
/*.animate-switch-container {
  position:relative;
  background:white;
  height:40px;
  overflow:hidden;
}

.animate-switch {
  padding:10px;
}

.animate-switch.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  top:-50px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  top:0;
}*/


/*Chart Generator*/
.container-fluid.mainDIV.SizeDivInherit {
min-height: 24em !important;
}
.mainDIV {
    /*background-color: #D1E1FF;*/
    height: inherit;
	background-color: white;
}
/*ChartNavbar*/
.nav-tabs-dropdown {
  display: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-tabs-dropdown:before {
  content: "\e114";
  font-family: 'Glyphicons Halflings';
  position: absolute;
  right: 30px;
}

@media screen and (min-width: 769px) {
  #nav-tabs-wrapper {
    display: block!important;
  }
}
@media screen and (max-width: 768px) {
    .nav-tabs-dropdown {
        display: block;
    }
    #nav-tabs-wrapper {
        display: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        text-align: center;
    }
   .nav-tabs-horizontal {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
   }
    .nav-tabs-horizontal  > li {
        float: none;
    }
    .nav-tabs-horizontal  > li + li {
        margin-left: 2px;
    }
    .nav-tabs-horizontal > li,
    .nav-tabs-horizontal > li > a {
        background: transparent;
        width: 100%;
    } 
    .nav-tabs-horizontal  > li > a {
        border-radius: 4px;
    }
    .nav-tabs-horizontal  > li.active > a,
    .nav-tabs-horizontal  > li.active > a:hover,
    .nav-tabs-horizontal  > li.active > a:focus {
        color:white;
        background-color: #428bca;
    }
}

.navBAR { position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.navBarInside{
    margin-left: 0rem !important;    
}

.navBARWell{
padding: 0px;
border: 0px;
border-radius: 0px;}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: rgb(66, 132, 255) !important;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #ffffff !important;
}

.SizeDiv{
min-height: 22em;
}

.SizeDivInherit{
min-height: inherit;}

/*Main div content*/
.panel-heading a:after {
    font-family: 'fontawesome';
    content: "\f07d";
    float: right;
    color: grey;
}
.panel-heading {
    cursor: pointer;
    cursor: hand;
}
.accordiondiv {
    margin-left: 7%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: : 5%;
}

.accordiondivlink{
	color:#F5F5F5 !important;}
	
.panel-default > .panel-heading{background-color: #293b6e !important;}

.panel-group .panel {
    margin-bottom: 50px;!important}
    
.panel-heading a:after{color: white !important;
	}
	
	.newbuttongly {
    float: right;
    padding-right: 5%;
}
.newbuttongly1 {
   float: right;
padding-right: 20%;
}
	
	
/*------------------------------------------------------------------------------------------------------*/


.vertDiv{
	width: 100%;
	float: left;
	border: 1px solid;
	background: whitesmoke;
	margin-left: 0%;
}
/*.vertQueryDiv {
    width: 303px;
    height: 32px;
    float: left;
    border: 1px solid #CBC2C2;
    background: white none repeat scroll 0% 0%;
    margin-left: 0%;
}*/
.queryLabel{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    margin-left: 7px;
    margin-top: 3px;
    font-weight: 700;
    color: grey;
}
#editIcon
{
width: 17px;
height: 17px;
margin-left: 180px;
}
#deleteIcon
{
width: 17px;
height: 17px;
margin-left: 10px;
}
.iron-icon-0 {
    display: inline-flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    vertical-align: middle;
    fill: ;
    stroke: none;
    width: 22px;
    height: 22px;
    /*margin-left: 2px;*/
}
.textDiv {
    color: #5A5757;
    margin-left: 10px;
    height: 26px;
}
.queryDiv{
    float: left;
    background: white;
height: calc(100vh - 8rem);
width: 75%;
border: 1px solid;
}

.divL{
width: 25%;
float: left;
background: white;
margin-left: 0%;
border: 1px solid;
height: calc(100vh - 8rem);
}
.div1{
width: 25%;
float: left;
}

.div3{
width: 75%;
float: left;
}
.form-control {
    display: block;
    width: 96%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.formDiv50{
	width:50%;
	float: left;
}
.formDiv75{
	width:75%;
	float: left;
}
.formDiv25{
	width:25%;
	float: left;
	margin-top: 7px;
}
.formLeftmargin{
	margin-left: 7px;
}
.divP{
margin-top: 7px;
}
.divP1{
margin-top: 12px;
margin-left: 41px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: grey;
}
.divPLeft{
margin-left: 10px;
}

.formDiv35{
	width:35%;
	float: left;
}
.formDiv30{
	width:30%;
	float: left;
}
input[type="text"],[type="date"],[type="number"], select {
    width: 60%;
    padding: 0px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 1px solid #CCC;
    outline: medium none;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 13px;
}
.btn:hover:not([style-scope]):not(.style-scope) {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
    background-color: #BCB9B9;
}
.btn:not([style-scope]):not(.style-scope) {
    display: inline-block;
    overflow: visible;
    height: 2em;
    margin: 0px;
    border: 1px solid #B1B1BC;
    border-radius: 3px;
    padding: 0px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    font: inherit;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    white-space: nowrap;
    /*background-color: #F3F0E5;*/
    width: 35px;
}
.connectorBtn{
background-color: white;
border-radius: 4px;
border-color: blanchedalmond;
height: 25px;
width: 40px;
margin-top: 14px;
}
.connectorBtn.on {
    background-color: #042776;
    color:white;
border-radius: 4px;
border-color: blanchedalmond;
height: 25px;
width: 40px;
margin-top: 14px;
}
.col-md-12{
 padding-left: 0px;
}
.col-md-4{
 padding-left: 0px;
}
.btn + .btn:not([style-scope]):not(.style-scope) {
    margin-left: -0.2rem;
    background-color: #DD2F2F;
}
#closebutton{
background-color: #F34444;
}
#plusbutton{
background-color: #F3F0E5;
}
.icon-colour{
color: white;
margin-top: 4px;
}
.icon-plus{
margin-top: 4px;
}
textarea {
    overflow: auto;
    margin-top: 15px;
}

.builderdiv{
margin-top: 82px;
}

#navBARLinks {
    padding-left: 10%;
    height: 40px;
    color: #042776 !important;
    background-color: rgb(247, 248, 252);
} 

#navBARButton {
    padding-left: 10%;
    color: #042776 !important;
} 
  
.myTableClass1 {
    width: inherit;
    max-height: 200px;
    overflow-x: scroll;
    overflow-y: scroll;
    background-color: white;
    padding-left: 20px !important;
    padding-top: 20px;
    min-height: 0px !important;
}
}
.myTableClass2 {
    width: inherit;
    max-height: 400px;
    overflow-x: scroll;
    overflow-y: scroll;
    background-color: white;
    padding-left: 20px !important;
    padding-top: 20px;
    min-height: 0px !important;
}
table {
    width: 40%;
    margin: 0 auto;
}
.glyphicon{
cursor: pointer;
}
.glyphicon:hover{
color:blue;moz
}
.glyphicon.glyphicon-remove-circle,.glyphicon.glyphicon-floppy-save{
	font-size: 25px;
    	padding: 10px 0px 0px 10px;
}
.bottomTable {
    width: 100%;
    max-height: 200px;
    overflow-x: scroll;
    overflow-y: scroll;
    background-color: white;
    padding-top: 20px;
    padding-left: 20px;
    min-height: 0px;
}

#bottomTableId{
	padding-left: 45px;
}
main:not([style-scope]):not(.style-scope) {
    background-color: white;
} 

.nextButton1{
	background-color: #042776 !important;
border-radius: 8px !important;
border-color: #042776 !important;
color: white !important;
float: right !important;
width: 107px !important;
      }
.nameAlert1{
	display: inline-block;
	position: absolute;
	top: 97px;
	left: 377px;
	display: none;
	width: 67% !important;
	margin-left: 29% !important;
	margin-top: 2% !important;
}






/*placeholder inside div*/
.tablewell:empty::before {
  color: grey;
}
.tablewell[data-placeholder]:not([data-placeholder=""]):empty::before {
  content: attr(data-placeholder);
}
.tablewell:empty::before {
  content: 'fallback placeholder';
}
.tablewell{width: 39rem;
border-style: dashed !important;
border-color: grey !important;}

.smalldrop{
border-style: dashed !important;
border-color: grey !important;
height: 2rem !important;
float: left !important;
}
.smallpanel{
height: 2rem !important;
float: left !important;
}



/*tree view*/
div.panel:first-child {
    margin-top:20px;
}

div.treeview {
min-width: 100px;
min-height: 200;
max-height: 250;
overflow-x: hidden;
padding: 0px;
overflow-y: auto;
height: 280px;
	
	
}
div.treeview ul:first-child:before {
    display: none;
}
.treeview, .treeview ul {
    margin:0;
    padding:0;
    list-style:none;
    
	color: #369;
}
.treeview ul {
    margin-left:1em;
    position:relative;
}
.treeview ul ul {
    margin-left:.5em;
}
.treeview ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    left:0;
    border-left:1px solid;
    
    /* creates a more theme-ready standard for the bootstrap themes */
    bottom:15px;
}
.treeview li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    font-weight:700;
    position:relative;
}
.treeview ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0;
}
.tree-indicator {
    margin-right:5px;
    
    cursor:pointer;
}
.treeview li a {
    text-decoration: none;
    color:inherit;
    cursor:pointer;
}
.treeview li button, .treeview li button:active, .treeview li button:focus {
    text-decoration: none;
    color:inherit;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

/*New css*/

.switchbutton{margin-left: 2rem;
	margin-top: 1rem;}
#query {
    width: 39rem !important;
margin-top: 1rem;
margin-left: 3rem;
}
.div1{padding-top: 1rem;
padding-left: 2rem !important;}
.div2{margin-left: 1rem;}

.treeul{margin-left: 0rem !important;}
.treepanel{min-height: 25em !important;
	   margin-left: 2rem;
	   border-color: transparent;}
.schemaselect{width: 11rem !important;
margin-left: 1rem !important;}

.div3{margin-top: 1rem;}
.sqlbuttons{width: 8rem !important;
background-color: white !important;
border-color: #C3B6B6 !important;
color: #666565 !important;}
.querydiv{width: 40rem !important;}
.executediv{margin-top: 10px;
margin-bottom: 20px;}
.span12{
    width: 100%;
}
#selectDiv{
    margin-bottom: 15px;
}
 
#selectDiv .containerVertical{
    display: block !important;
    height: 40px;
    padding: 10px 5px;
    list-style-type:  none;
}